.container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    margin:0px !important;
    padding:0px;
}
.main-container{
    display: flex;
    position: absolute;
    top: 80px;
    bottom: 0px;
    overflow: hidden;
}
.aside-container{
    flex:0 0 230px;
    width: 230px;
}
.el-menu{
    height: 100%;
}
.rms-lj{
    text-decoration:none;
}
.content-container{
    flex:1;
    overflow-y: scroll;
    padding: 20px;
}
